@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:auto;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
@font-face{src: url(../font/Lato-Light.ttf); font-family:Lato-Light}
@font-face{src: url(../font/Lato-Semibold.ttf); font-family:Lato-Semibold}
@font-face{src: url(../font/MyriadPro-Regular.otf); font-family:MyriadPro-Regular}
@font-face{src: url(../font/OpenSans-Bold.ttf); font-family:OpenSans-Bold}
@font-face{src: url(../font/OpenSans-Light.ttf); font-family:OpenSans-Light}
@font-face{src: url(../font/OpenSans-LightItalic.ttf); font-family:OpenSans-LightItalic}
@font-face{src: url(../font/OpenSans-Regular.ttf); font-family:OpenSans-Regular}
@font-face{src: url(../font/OpenSans-Semibold.ttf); font-family:OpenSans-Semibold}


*{margin:auto; padding:0;}
body{font-size: 14px; color: #454545; font-family: OpenSans-Regular; position: relative; background: #ffffff;}
ul li{list-style:none;}
.none{display: none;}
.fix{width:980px; position: relative; z-index: 5;}
.relative{position: relative;}
.f-l{float: left;}
.f-r{float: right;}
.clr{clear:both;}
.clr5{clear:both; height: 5px;}
.clr10{clear:both; height: 10px;}
.clr15{clear:both; height: 15px;}
.clr20{clear:both; height: 20px;}
.clr25{clear:both; height: 25px;}
.clr30{clear:both; height: 30px;}
.center{text-align: center;}
.hidden{visibility: hidden; height: 0!important;}
a{color: #434a54; cursor: pointer; text-decoration: none;}
a:hover{color: #0f81bb; text-decoration: none;}
input,button,textarea,select:focus{outline:0}
::-webkit-input-placeholder {font-family: OpenSans-LightItalic; color: #727272; font-size: 11px;}
:-moz-placeholder {font-family: OpenSans-LightItalic; color: #727272; font-size: 11px;}
::-moz-placeholder {font-family: OpenSans-LightItalic; color: #727272; font-size: 11px;}
:-ms-input-placeholder {font-family: OpenSans-LightItalic; color: #727272; font-size: 11px;}
input,button,textarea,select{font-family: OpenSans-Regular; color: #454545; cursor: pointer; font-size: 13px;}
.mCSB_inside > .mCSB_container{margin-right: 15px!important;}
.mCSB_scrollTools .mCSB_draggerContainer{right: -18px!important;}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{background: #0f81bb!important;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #0f81bb!important; border-radius: 0!important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #0f81bb!important;}
.owl-wrapper{float: left!important;}
.owl-carousel .owl-stage{float: left;}
.alertify-buttons{position: inherit!important; width: auto!important; height: auto!important; background: none!important;}
.alertify-button-ok, .alertify-button-ok:hover, .alertify-button-ok:focus{background: #0f81bb!important; border: none!important; color: #fff!important;}
.alertify-button{border-radius:0px!important;}
.alertify-buttons{margin-top: 20px!important;}
.alertify-message{text-transform: uppercase!important; font-size: 14px!important;}
.alertify{border: 10px solid #0f81bb!important; top: 40%!important; margin: 0; padding: 0;}
.alertify-cover{background: rgba(0,0,0,0.5)!important; opacity: 1!important;}

.phantrang ul{text-align: center;}
.phantrang ul li{width: 25px; height: 25px; background: #fff; text-align: center; margin: auto 5px; position: relative; line-height: 25px; overflow: hidden; display: inline-block; border: 1px solid #0f81bb}
.phantrang ul li a{color: #0f81bb;}
.phantrang ul li.active{background: #0f81bb;}
.phantrang ul li.active a{color: #fff;}
.phantrang ul li:hover{background: #0f81bb;}
.phantrang ul li:hover a{color: #fff;}

.ckeditor *{font-family: OpenSans-Regular!important; text-align: justify;}
.ckeditor img{max-width: 100%; margin: 10px auto;}
.ckeditor b{font-family: OpenSans-Bold!important;}
.ckeditor strong{font-family: OpenSans-Bold!important;}
.ckeditor i{font-family: OpenSans-Italic!important;}
.ckeditor ul{padding-left: 10px;}
.ckeditor ul li{margin-left: 10px; opacity: 1!important; height: auto!important;list-style: disc!important;}

.header-top{height: 95px; background: url('../img/icon/header.png'); border-bottom: 5px solid #e5e5e5; position: relative; z-index: 9;}
.logo{height: 95px; float: left; position: relative; width: 170px;}
.logo img{top: 0; bottom: 0; position: absolute; left: 10px;}
.header-top-right{float: right;}
.top-menu{float: right; height: 25px; margin-top: 5px;}
.top-menu .language{float: right; height: 25px;}
.top-menu .language img{margin: auto 3px;}
.top-menu .login-menu{float: right; height: 20px; border: 1px solid #fff; border-radius: 5px; margin: 3px 15px;}
.top-menu .login-menu ul li{float: left; line-height: 10px; padding: 0 10px; text-transform: uppercase; margin: 5px auto;}
.top-menu .login-menu ul li:first-child{border-right: 1px solid #fff}
.top-menu .login-menu ul li a{color: #fff; font-size: 12px;}
.top-menu .hot-contact{float: right; height: 20px; margin-top: 5px;}
.top-menu .hot-contact img {margin: auto 3px;}
.menu-bar{float: left; height: 65px; line-height: 65px; font-family: OpenSans-Semibold; font-size: 17px; text-transform: uppercase;}
.menu-bar ul li{float: left; padding: 0 15px; position: relative;}
.menu-bar ul li:after{position: absolute; top: 45px; height: 2px; background: #fff; content: ""; width: 0; transition: all ease-in-out 0.3s;}
.menu-bar ul li:hover:after{width: 50%;}
.menu-bar ul li.active:after{width: 50%;}
.menu-bar ul li:last-child{padding-right: 0;}
.menu-bar ul li a{color: #fff;}
.sub-menu-bar{position: absolute; width: 215px; line-height: 30px; background: #f7f6f6; font-family: OpenSans-Regular; left:0; display: none;}
.menu-bar ul li:hover .sub-menu-bar{display: block;}
.sub-menu-header{height: 30px; padding-left: 10px; border-top: 1px solid #eee; position: relative;}
.row-menu{position: absolute; top: 0; bottom: 0; right: 10px}
.sub-menu-header:hover{background: #0f81bb;}
.sub-menu-header a{color: #454545!important; font-size: 14px;}
.sub-menu-header:hover a{color: #fff!important;}
.child-sub-menu-header{position: absolute; left:100%; width: 230px; line-height: 30px; background: #f7f6f6; top: 0; display: none;}
.sub-menu-header:hover .child-sub-menu-header{display: block;} 
.sub-menu-header:hover .child-sub-menu-header a{color: #454545!important;}
.sub-menu-header .child-header-item:hover{background: #58b9ea;}
.sub-menu-header:hover .child-header-item:hover a{color: #fff!important;}
.child-header-item{padding-left: 10px;}

.slider{position: relative; margin-bottom: 15px;}
.slider .service-slider{position: absolute; top: 125px; width: 360px; height: 220px; background: rgba(255,255,255,0.7); z-index: 9999; left: 170px; overflow: hidden; border-radius: 5px; padding: 15px 10px; box-sizing: border-box;}
.slider .service-slider ul li{height: 0px; opacity: 0; transition: all ease-in-out 0.6s; position: relative; line-height: 20px;}
.slider .service-slider ul li.active{opacity: 1; height: 220px;}
.slider .service-slider ul li .desc-service-slider{max-height: 170px; overflow: hidden; font-size: 13px; color: #454545;}
.slider .service-slider ul li .chitiet-text{width: 70px; height: 25px; text-align: center; background: #0f81bb; color: #fff; text-transform: uppercase; font-family: OpenSans-Light; font-size: 13px; position: absolute; bottom: 25px; right: 0px; line-height: 25px; border-radius: 4px;}

.slider-pagination{position: absolute; bottom: 10px; width: 100%; text-align: center}
.slider-pagination ul li{display: inline-block; position: relative; margin: 0 3px; width: 10px; height: 10px; border-radius: 10px; border: 1px solid #fff; z-index: 9999; cursor: pointer;}
.slider-pagination ul li:hover{background: #fff;}
.slider-pagination ul li.active{background: #fff;}
.slider-index{float: left; position: relative;}
.slider-index .service-slider{width: 500px; height: 150px; padding: 5px; left: 20px; top: 140px}
.slider-index .service-slider .desc-service-title{font-family: OpenSans-Bold; color: #0f81bb; font-size: 15px; text-transform: uppercase; padding: 5px;}
.slider-index .service-slider ul li .desc-service-slider{font-size: 13px; padding-left: 5px; max-height: 80px; overflow: hidden;}
.slider-index .service-slider ul li .chitiet-text{bottom: auto; margin-top: 5px;}

.title-component{font-size: 25px; color: #0f81bb; text-transform: uppercase; height: 70px; line-height: 70px; padding-left: 40px; margin-bottom: 15px; position: relative;}
.title-component:after{position: absolute; top: 0; left: 0; width: 82px; height: 70px; background: url('../img/icon/row-section.png'); content: ''; z-index: -1;}
.activity .list-activities ul li{float: left; width: 316px; margin-right: 15px; height: 205px; background: #f4f6f9; position: relative;}
.activity .list-activities ul li:after{position: absolute; z-index: 1; width: 300px; height: 189px; top: 8px; left: 8px; border: 1px solid #0f81bb; box-sizing: border-box; content: "";}
.activity .list-activities ul li .icon-activity{text-align: center; margin: 15px auto;}
.activity .list-activities ul li .text-activity{text-align: center; font-size: 18px; color: #454545; font-family: OpenSans-Semibold; text-transform: uppercase; margin-bottom: 5px;}
.activity .list-activities ul li .desc-activity{width: 280px; text-align: center; font-size: 13px;}
.activity .list-activities ul li:nth-child(3n){margin-right: 0;}

.services-index .list-services-index ul li{float: left; width: 460px; height: 245px; border: 5px solid #f1f1f1; box-sizing: border-box; margin-bottom: 30px; position: relative; z-index: 2;}
.services-index .list-services-index ul li:after{position: absolute; width: 323px; height: 32px; bottom: 15px; left: 55px; bottom: -20px; z-index: -1; background: url('../img/icon/sd.png'); content: '';}
.services-index .list-services-index ul li:nth-child(2n){float: right;}
.services-index .list-services-index ul li .image-service img{height: 235px; width: 100%;}
.services-index .list-services-index ul li .title-service{width: 311px; height: 45px; line-height: 45px; color: #fff; font-size: 17px; text-transform: uppercase; box-sizing: border-box; padding: 0 15px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; background: url('../img/icon/title-service.png') no-repeat; position: absolute; bottom: 0px; left: -1px; padding-right: 30px;}
.services-index .list-services-index ul li .title-service img{position: relative; top: 5px; margin-right: 5px; height: 21px;}

.news-index .list-news-index ul li{float: left; width: 300px; height: 260px; margin-right: 40px; overflow: hidden; background: #f1f1f1; border-radius: 5px;}
.news-index .list-news-index ul li:nth-child(3n){margin-right: 0;}
.news-index .list-news-index ul li .image-news img{width: 100%; height: 145px;}
.news-index .list-news-index ul li .title-news{padding: 8px 10px; height: 34px; line-height: 17px; color: #000; overflow: hidden; box-sizing: border-box;}
.news-index .list-news-index ul li .desc-news{font-size: 12px; padding: 5px; line-height: 15px; height: 40px; text-align: justify; color: #454545; overflow: hidden;}

footer{padding-bottom: 10px;}
footer .footer-top{border-bottom: 1px solid rgba(255,255,255,0.3);}
footer .footer-top .name-company{float: left; color: #0f81bb; text-transform: uppercase; height: 45px; font-size: 23px; font-family: OpenSans-Bold; width: 40%; text-align: center;}
footer .footer-top .hotline-company{float: right; line-height: 45px; font-size: 16px; color: #cc2128; border: 2px solid #cc2128; padding: 0 15px; margin-top: 5px;font-family: OpenSans-Semibold;}
footer .footer-top .hotline-company img{position: relative; top: 5px; margin-right: 10px;}
.footer-mid ul li{float: left; width: 33%; box-sizing: border-box; padding-left: 35px; margin-top: 25px; padding-right: 10px; border-right: 1px solid #dbdbdb;}
footer .footer-mid ul li{width: 30%; border-right: none;}
footer .footer-mid ul li:nth-child(1){width: 40%;}
.footer-mid ul li:nth-child(3n){border: none}
.footer-mid ul li .title-footer-mid{font-size: 18px; color: #0f81bb; font-family: OpenSans-Semibold; text-transform: uppercase; margin-bottom: 15px;}
.footer-mid ul li .item-contact{margin-bottom: 10px; position: relative;}
.footer-mid ul li .icon-contact-footer{position: absolute; left: -25px; width: 19px; height: 17px; background-size: contain; background-repeat: no-repeat; top: 2px;}
.footer-mid ul li .icon-row{position: absolute; left: -15px; width: 8px; height: 9px; background-size: contain; background-repeat: no-repeat; top: 6px; background: url('../img/icon/black-row.png');}
.footer-mid ul li .icon-address{background-image: url('../img/icon/blue-address.png');}
.footer-mid ul li .icon-phone{background-image: url('../img/icon/blue-phone.png');}
.footer-mid ul li .icon-fax{background-image: url('../img/icon/blue-fax.png');}
.footer-mid ul li .icon-email{background-image: url('../img/icon/blue-email.png');}
footer .footer-mid ul li .icon-address{background-image: url('../img/icon/black-address.png');}
footer .footer-mid ul li .icon-phone{background-image: url('../img/icon/black-phone.png');}
footer .footer-mid ul li .icon-fax{background-image: url('../img/icon/black-fax.png');}
footer .footer-mid ul li .icon-email{background-image: url('../img/icon/black-email.png');}
footer .footer-bottom{color: #fff; line-height: 30px;}
footer .footer-copyright{margin-left: -25px;}
footer .footer-copyright b{font-family: OpenSans-Bold;}
footer .title-item-footer{font-family: OpenSans-Bold; text-transform: uppercase; font-size: 16px; margin-bottom: 20px;}
.box-sub{height: 35px; margin-bottom: 10px;}
.box-sub input{width: calc(100% - 85px); float: left; height: 35px; background: #f1f1f1; padding-left: 10px; box-sizing: border-box; border: none}
.box-sub button{width: 85px; float: left; height: 35px; border: none; background: #0f81bb; color: #fff; text-transform: uppercase;}
.follow p{font-size: 18px; margin-bottom: 10px;}
.follow img{margin-right: 5px;}

.supplier{background: url('../img/icon/supplier.png'); position: relative; height: 224px;}
.supplier:before{width: 40%; background: #f1f1f1; height: 45px; position: absolute; top: 0px; left: 0; content: '';}
.supplier .fix{position: relative;}
.supplier .fix:before{position: absolute; top: 0; left: 0; height: 45px; width: 605px; background: url('../img/icon/top-bg-doitac.png'); content: ''; z-index: -1;}
.list-supplier-index ul li{width: 100px; height: 100px; background: #fff; position: relative;}
.list-supplier-index ul li img{position: absolute; width: auto !important; top: 0; bottom: 0; left: 0; right: 0}

.breadcrumb ul li{position: relative; padding-right: 40px; line-height: 40px; height: 40px; float: left;}
.breadcrumb ul li:after{width: 6px; height: 8px; background-size: 6px 8px; background-image: url('../img/icon/row.png'); position: absolute; top: 16px; right: 20px; content: "";}
.breadcrumb ul li:last-child:after{display: none;}
.breadcrumb.border-line-bottom{border-bottom: 3px solid #0f81bb;}

.page .content-page{width: 700px; border-top: 3px solid #0f81bb; padding: 15px; background: #f4f6f9; float: left;}
.page .content-page .title-content-page{font-size: 18px; color: #0f81bb; text-transform: uppercase; margin-bottom: 10px;}
.page .menu-page{width: 234px; float: right; overflow: hidden;}
.page .menu-page .box-menu-item{background: url('../img/icon/box.png'); position: relative; margin-top: 50px; margin-bottom: 50px;}
.page .menu-page .box-menu-item:before{content: ''; position: absolute; top: -47px; height: 47px; width: 234px; background: url('../img/icon/before-box.png');}
.page .menu-page .box-menu-item:after{content: ''; position: absolute; bottom: -44px; height: 44px; width: 234px; background: url('../img/icon/after-box.png');}
.page .menu-page .box-menu-item .title-menu-page{text-transform: uppercase; font-size: 15px; box-sizing: border-box; padding-left: 30px; position: relative; color: #0f81bb; font-family: OpenSans-Bold; top: -35px; position: absolute;}
.page .menu-page .box-menu-item .list-menu-page{position: relative; margin: 0 20px; border-left: 1px dashed #0f81bb}
.page .menu-page .box-menu-item .list-menu-page ul li{height: 35px; line-height: 35px; box-sizing: border-box; padding-left: 25px; position: relative; font-size: 13px; padding-right: 10px;}
.page .menu-page .box-menu-item .list-menu-page ul li:before{height: 4px; width: 10px; border-bottom: 1px dashed #0f81bb; content: ''; position: absolute; left: 0; top: 14px; z-index: 1;}
.page .menu-page .box-menu-item .list-menu-page ul li:after{position: absolute; width: 6px; height: 6px; background: #0f81bb; content: ""; top: 15px; left: 10px; border-radius: 6px;}
.page .menu-page .box-menu-item .list-menu-page ul li.active a{color: #0f81bb; font-family: OpenSans-Bold}
.page .menu-page .box-menu-item .list-menu-page ul li a{display: block; position: relative;}
.page .menu-page .box-menu-item .list-menu-page ul li a span{display: block; position: relative; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.page .menu-page .box-menu-item .list-menu-page ul li.child-item a:after{border-left: 1px dashed #0f81bb; width: 1px; position: absolute; content: ''; top: -12px; left: -27px; height: 30px;}
.page .menu-page .box-menu-item .list-doitac ul li{text-align: center;}
.page .menu-page .box-menu-item .list-doitac ul li .item-partner{width: 85px; float: left; height: 85px; background: #fff; margin: 10px; position: relative;}
.page .menu-page .box-menu-item .list-doitac ul li .item-partner img{position: absolute; top: 0; bottom: 0}

.quote-button{width: 155px; height: 32px; background: #0f81bb; color: #fff; font-size: 17px !important; font-family: OpenSans-Light; text-transform: uppercase; text-align: center!important; line-height: 32px!important; float: right; border-radius: 4px; margin: 10px auto;}
.quote-button a{color: #fff!important;}

.news .list-news ul li{float: left; width: 230px; height: 335px; margin-right: 20px; overflow: hidden; background: #f5f7fa; margin-bottom: 20px; position: relative;}
.news .list-news ul li:before{content: ''; width: 44px; height: 44px; position: absolute; top: -1px; right: -1px; background: url('../img/icon/cross.png');}
.news .list-news ul li:after{content: ''; width: 44px; height: 44px; position: absolute; bottom: -1px; left: -1px; background: url('../img/icon/cross2.png');}
.news .list-news ul li:nth-child(4n){margin-right: 0;}
.image-news img{width: 100%; height: 180px;}
.title-news{padding: 8px 5px; height: 45px; line-height: 17px; color: #000; overflow: hidden; box-sizing: border-box; margin-bottom: 10px;}
.desc-news{font-size: 12px; padding: 5px; line-height: 15px; height: 40px; text-align: justify; color: #454545; overflow: hidden; margin-bottom: 5px;}
.time-news{position: absolute; left: 40px; bottom: 10px;}
.seemore{float: right; width: 65px; height: 20px; text-transform: uppercase; border: 1px solid #0f81bb; color: #0f81bb; font-size: 12px; box-sizing: border-box; text-align: center; line-height: 20px; margin-top: 10px; margin-right: 10px;}

.list-tags{height: 30px; border-top: 1px solid #0f81bb; margin-top: 30px; padding-top: 15px;}
.list-tags ul li{float: left; margin-left: 10px;}
.list-tags ul li button{height: 20px; position: relative; padding: 0 10px; display: block; color: #fff; background: #0f81bb; border: none; margin-right: 10px;}
.list-tags ul li button:before{position: absolute; top: 0; left: -11px; width: 11px; height: 20px; background: url('../img/icon/tag-after.png'); content: "";}

.title-other{height: 50px; line-height: 50px; box-sizing: border-box; border-top: 4px solid #0f81bb; color: #0f81bb; font-size: 18px; font-family: OpenSans-Semibold; text-transform: uppercase;}
.list-others-news{position: relative;}
.list-others-news .button-carousel{position: absolute; height: 0; top: 0; bottom: 0; z-index: 9; width: 100%;}
.list-others-news .button-carousel .prev{float: left; margin-left: -15px; cursor: pointer;}
.list-others-news .button-carousel .next{float: right; margin-right: -15px; cursor: pointer;}
.list-others-news ul li{float: left; width: 230px; height: 335px; margin-right: 20px; overflow: hidden; background: #f5f7fa; margin-bottom: 20px; position: relative;}
.list-others-news ul li:before{content: ''; width: 44px; height: 44px; position: absolute; top: -1px; right: -1px; background: url('../img/icon/cross.png'); z-index: 1;}
.list-others-news ul li:after{content: ''; width: 44px; height: 44px; position: absolute; bottom: -1px; left: -1px; background: url('../img/icon/cross2.png');}

.form-format .item-input{min-height: 35px; margin-bottom: 10px;}
.form-format .item-input .label-input{width: 148px; height: 35px; float: left; background: url('../img/icon/label.png'); padding-left: 20px; box-sizing: border-box; font-size: 15px; line-height: 35px; position: relative; z-index: 2;}
.form-format .item-input .input-input{width: 560px; height: 35px; float: right; margin-left: -20px;}
.form-format .item-input .input-input input{background: url('../img/icon/input-width.png'); padding-left: 20px; box-sizing:
 border-box; width: 100%; height: 35px; border: none;}
 .form-format .item-input .input-input label{background: url('../img/icon/input-width.png'); padding-left: 20px; box-sizing:
 border-box; width: 100%; height: 35px; border: none; display: block; line-height: 35px; cursor: pointer;}
.form-format .item-input .input-textarea textarea{width: 100%; height: 125px; padding: 0 10px; padding-top: 35px; box-sizing: border-box; background: #e5e5e5; border: none; position: relative; top: -35px; z-index: 1;}
.form-format .item-button button{float: right; width: 120px; height: 30px; color: #fff; border: none; background: #0f81bb; text-transform: uppercase; border-radius: 4px; font-size: 16px;}
.form-format .item-link{text-align: right; line-height: 25px; margin-top: 10px; text-decoration: underline;}

.contact-map{width: 565px; height: 421px; float: left; position: relative; overflow: hidden;}
.contact-map .cover-map{position: absolute; z-index: 4; background: url('../img/icon/map-cover.png'); top: 0; left: 0; width: 565px; height: 421px;}
.contact-map .title-map{position: absolute; width: 420px; z-index: 5; top: 0; right: 0; height: 35px;}
.contact-map .title-map ul li{width: 140px; text-align: center; text-transform: uppercase; color: #0f81bb; float: left; line-height: 35px; cursor: pointer;}
.contact-map .list-info-contact{position: absolute; width: 445px; height: 120px; bottom: 0; left: 0; z-index: 5; padding: 10px 0; box-sizing: border-box;}
.contact-map .list-info-contact ul li .title-info-contact{font-size: 18px; font-family: Lato-Semibold; text-transform: uppercase; padding-left: 50px;}
.contact-map .list-info-contact ul li .item-contact{padding: 0 15px;}
.contact-map .list-info-contact ul li .item-contact .icon-contact{width: 18px; margin-right: 20px; float: left;}
.contact-map .list-info-contact ul li .item-contact .value-contact{float: left; font-size: 12px;}
.contact-form{width: 365px; float: right; padding-top: 35px;}
.contact-form .form-format .item-input .input-input{width: 225px;}

.slider .slider-right{float: right; width: 260px; background: #f1f1f1;}
.slider .check-transport-container{position: relative;}
.check-transport{box-sizing: border-box; border-radius: 0 0 8px 8px; z-index: 6;}
.check-transport-relative{position: relative; width: 336px; box-sizing: border-box; border-radius: 0 0 8px 8px; z-index: 6; background: #ffffff; float: left; top: auto; right: auto;}
.slider-right .title-slider-right{height: 29px; line-height: 29px; color: #fff; font-size: 14px; text-transform: uppercase; padding: 0 15px; background: url('../img/icon/title-on-slider.png');}
.check-transport .input-check-transport{padding: 10px;}
.check-transport .help-tracking{font-size: 11px; font-style: italic; padding: 0 15px; margin-bottom: 10px;}
.check-transport .input-check-transport input{width: 100%; box-sizing: border-box; height: 65px; border: 1px solid #d0d1d1; border-radius: 3px; background: #f9fafc; padding: 0 10px;}
.check-transport-relative .input-check-transport input{height: 105px;}
.check-transport .input-check-transport ::-webkit-input-placeholder {font-size: 13px;}
.check-transport .input-check-transport :-moz-placeholder {font-size: 13px;}
.check-transport .input-check-transport ::-moz-placeholder {font-size: 13px;}
.check-transport .input-check-transport :-ms-input-placeholder {font-size: 13px;}
.check-transport .button-check-transport{text-align: right; padding-bottom: 10px; padding-right: 10px;}
.check-transport .button-check-transport button{width: 80px; height: 25px; color: #fff; background: #0f81bb; border: 4px; border: none; text-transform: uppercase; font-size: 13px; border-radius: 5px;}
.list-slider-service ul{padding: 10px; margin-top: 2px;}
.list-slider-service ul li{height: 25px; line-height: 25px; overflow: hidden; font-size: 13px; position: relative; padding-left: 15px;}
.list-slider-service ul li:before{position: absolute; top: 8px; left: 0px; width: 8px; height: 9px; background: url('../img/icon/double-row.png'); content: ''}

.info-tracking table{width: 100%; line-height: 30px;}
.info-tracking table tr td{vertical-align: middle;}
.info-tracking table tr td b{font-family: OpenSans-Bold;}
.info-tracking table tr td img{position: relative; top: -2px; margin-right: 5px;}
.info-schedule-tracking table{width: 100%; line-height: 30px; text-align: center;}
.info-schedule-tracking table tr th{background: #76afd4; color: #fff; font-weight: normal;}
.info-schedule-tracking table tr:nth-child(odd){background: #e5e5e5;}
.info-schedule-tracking table tr:nth-child(even){background: #ededed;}

.print{float: right; height: 30px; line-height: 30px; cursor: pointer; text-decoration: underline;}
.banner1{float: right; width: 300px; height: 205px;}
.banner1 img{display: block;width: 300px; height: 205px;}
.banner2 img{display: block; width: 100%;}
.response{text-align: center; font-family: OpenSans-Bold; color: #0f81bb; line-height: 40px; font-size: 15px; margin-bottom: 15px; border: 1px solid #0f81bb; border-radius: 3px;}

.table-tuyendung table{width: 100%; border: 1px solid #dbdbdb; border-collapse: collapse; font-size: 13px; text-align: center;}
.table-tuyendung table tr{border: 1px solid #dbdbdb;}
.table-tuyendung table th{border: 1px solid #dbdbdb; text-transform: uppercase; padding: 5px; font-family: OpenSans-Semibold; background: #98c3e8;}
.table-tuyendung table td{border: 1px solid #dbdbdb; padding: 5px;}
#file{visibility: hidden; height: 0;}


@media only screen and (max-device-width: 1024px) {
    .fix{padding:0 10px}
}