@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:auto;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
@font-face{src: url(../font/Lato-Light.ttf); font-family:Lato-Light}
@font-face{src: url(../font/Lato-Semibold.ttf); font-family:Lato-Semibold}
@font-face{src: url(../font/MyriadPro-Regular.otf); font-family:MyriadPro-Regular}
@font-face{src: url(../font/OpenSans-Bold.ttf); font-family:OpenSans-Bold}
@font-face{src: url(../font/OpenSans-Light.ttf); font-family:OpenSans-Light}
@font-face{src: url(../font/OpenSans-LightItalic.ttf); font-family:OpenSans-LightItalic}
@font-face{src: url(../font/OpenSans-Regular.ttf); font-family:OpenSans-Regular}
@font-face{src: url(../font/OpenSans-Semibold.ttf); font-family:OpenSans-Semibold}


*{margin:auto; padding:0;}
body{font-size: 14px; color: #454545; font-family: OpenSans-Regular; position: relative; background: #ffffff;}
ul li{list-style:none;}
.none{display: none;}
.fix{width:980px; position: relative; z-index: 5;}
.relative{position: relative;}
.f-l{float: left;}
.f-r{float: right;}
.clr{clear:both;}
.clr5{clear:both; height: 5px;}
.clr10{clear:both; height: 10px;}
.clr15{clear:both; height: 15px;}
.clr20{clear:both; height: 20px;}
.clr25{clear:both; height: 25px;}
.clr30{clear:both; height: 30px;}
.center{text-align: center;}
.hidden{visibility: hidden; height: 0!important;}
a{color: #434a54; cursor: pointer; text-decoration: none;}
a:hover{color: #0f81bb; text-decoration: none;}
input,button,textarea,select:focus{outline:0}
::-webkit-input-placeholder {font-family: OpenSans-LightItalic; color: #727272; font-size: 11px;}
:-moz-placeholder {font-family: OpenSans-LightItalic; color: #727272; font-size: 11px;}
::-moz-placeholder {font-family: OpenSans-LightItalic; color: #727272; font-size: 11px;}
:-ms-input-placeholder {font-family: OpenSans-LightItalic; color: #727272; font-size: 11px;}
input,button,textarea,select{font-family: OpenSans-Regular; color: #454545; cursor: pointer; font-size: 13px;}
.mCSB_inside > .mCSB_container{margin-right: 15px!important;}
.mCSB_scrollTools .mCSB_draggerContainer{right: -18px!important;}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{background: #0f81bb!important;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #0f81bb!important; border-radius: 0!important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #0f81bb!important;}
.owl-wrapper{float: left!important;}
.owl-carousel .owl-stage{float: left;}
.alertify-buttons{position: inherit!important; width: auto!important; height: auto!important; background: none!important;}
.alertify-button-ok, .alertify-button-ok:hover, .alertify-button-ok:focus{background: #0f81bb!important; border: none!important; color: #fff!important;}
.alertify-button{border-radius:0px!important;}
.alertify-buttons{margin-top: 20px!important;}
.alertify-message{text-transform: uppercase!important; font-size: 14px!important;}
.alertify{border: 10px solid #0f81bb!important; top: 40%!important; margin: 0; padding: 0;}
.alertify-cover{background: rgba(0,0,0,0.5)!important; opacity: 1!important;}

.phantrang ul{text-align: center;}
.phantrang ul li{width: 25px; height: 25px; background: #fff; text-align: center; margin: auto 5px; position: relative; line-height: 25px; overflow: hidden; display: inline-block; border: 1px solid #0f81bb}
.phantrang ul li a{color: #0f81bb;}
.phantrang ul li.active{background: #0f81bb;}
.phantrang ul li.active a{color: #fff;}
.phantrang ul li:hover{background: #0f81bb;}
.phantrang ul li:hover a{color: #fff;}

.ckeditor *{font-family: OpenSans-Regular!important; text-align: justify;}
.ckeditor img{max-width: 100%; margin: 10px auto;}
.ckeditor b{font-family: OpenSans-Bold!important;}
.ckeditor strong{font-family: OpenSans-Bold!important;}
.ckeditor i{font-family: OpenSans-Italic!important;}
.ckeditor ul{padding-left: 10px;}
.ckeditor ul li{margin-left: 10px; opacity: 1!important; height: auto!important;list-style: disc!important;}


@media only screen and (max-device-width: 1024px) {
    .fix{padding:0 10px}
}