@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:auto;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
@font-face{src:url('../font/Roboto-Light.eot?#iefix') format('embedded-opentype'),url(../font/Roboto-Light.ttf); font-family:robotoLight}
@font-face{src:url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),url(../font/Roboto-Regular.ttf); font-family:roboto}
@font-face{src:url('../font/utmavo.eot?#iefix') format('embedded-opentype'),url(../font/utmavo.ttf); font-family:utm}
@font-face{src:url(../font/utm-avobold.ttf); font-family:utmBold}
@font-face{src:url(../font/UTMAvoRegular.ttf); font-family:utmRegular}
@font-face{src:url(../font/ufonts.com_acanthus-light-ssi-light.ttf); font-family:acan}
@font-face {font-family: "UTM Swiss"; src: url(../font/UTMSwissCondensed.ttf),url(../font/UTMSwissCondensed.eot);}


*{margin:auto; padding:0;}
body{font-size: 14px; color: #454545; font-family: "UTM Swiss"; position: relative; background: #fff; width: 100vw; height: 100vh; overflow: hidden;}
ul li{list-style:none;}
.none{display: none;}
.fix{position: relative; z-index: 5; padding:0 10px;}
.relative{position: relative;}
.f-l{float: left;}
.f-r{float: right;}
.clr{clear:both;}
.clr5{clear:both; height: 5px;}
.clr10{clear:both; height: 10px;}
.clr15{clear:both; height: 15px;}
.clr20{clear:both; height: 20px;}
.clr25{clear:both; height: 25px;}
.clr30{clear:both; height: 30px;}
.center{text-align: center;}
.hidden{visibility: hidden; height: 0!important;}
a{color: #434a54; cursor: pointer; text-decoration: none;}
a:hover{color: #0f81bb; text-decoration: none;}
input,button,textarea,select:focus{outline:0}
::-webkit-input-placeholder {font-family: "UTM Swiss"; color: #454545; font-size: 13px;}
:-moz-placeholder {font-family: "UTM Swiss"; color: #454545; font-size: 13px;}
::-moz-placeholder {font-family: "UTM Swiss"; color: #454545; font-size: 13px;}
:-ms-input-placeholder {font-family: "UTM Swiss"; color: #454545; font-size: 13px;}
input,button,textarea,select{font-family: "UTM Swiss"; color: #454545; cursor: pointer;}
.mCSB_inside > .mCSB_container{margin-right: 15px!important;}
.mCSB_scrollTools .mCSB_draggerContainer{right: -15px!important;}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{background: #0f81bb!important;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #0f81bb!important; border-radius: 0!important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #0f81bb!important;}
.owl-wrapper{float: left!important;}
.owl-carousel .owl-stage{float: left;}
.alertify-buttons{position: inherit!important; width: auto!important; height: auto!important; background: none!important;}
.alertify-button-ok, .alertify-button-ok:hover, .alertify-button-ok:focus{background: #e4e4e4!important; border: none!important; color: #fff!important;}
.alertify-button{border-radius:0px!important;}
.alertify-buttons{margin-top: 20px!important;}
.alertify-message{text-transform: uppercase!important; font-size: 14px!important;}
.alertify{border: 10px solid #e4e4e4!important; top: 40%!important; margin: 0; padding: 0;}
.alertify-cover{background: rgba(0,0,0,0.5)!important; opacity: 1!important;}

.ckeditor *{text-align: justify;}
.ckeditor img{max-width: 100%; margin: 10px auto;}
.ckeditor b{font-weight: bold;}
.ckeditor strong{font-weight: bold;}
.ckeditor i{font-style: italic;}
.ckeditor ul{padding-left: 10px;}
.ckeditor ul li{margin-left: 10px; opacity: 1!important; height: auto!important;list-style: disc!important;}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {background: #0f81bb!important}
.owl-theme .owl-controls .owl-page span{background: #454545!important}


/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    
}
/* Portrait Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  
}

/* Lanscape Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    
}
/* Portrait Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {
  
}

/* Lanscape Mobile */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: landscape) {
  
}